<!doctype HTML>
<html>
<head>
  <title>Django User Dashboard</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<div class='top_nav'>
    <h3 class='top_nav_itm'> Test App</h3>
    <p class='top_nav_itm bold'> Dashboard </p>
    <p class='top_nav_itm'><a href='/users/edit'> Profile </a></p>
    <p class='top_nav_itm far_right2'><a href='/reset'> Log off </a></p>
</div>
<div class='main'>
<h1 class='inline'>Manage Users</h1>
<form class='inline' action='/users/new' method='POST'>
  {% csrf_token %} 
  <input class='btn blue long far_right3' type="submit" name='subBtn' value="Add New User">
</form>
  <div class="users_table">
    <div class="header">
      <p class="id bold">ID</p>
      <p class="name bold">Name</p>
      <p class="email bold">Email</p>
      <p class="date bold">Created</p>
      <p class="level bold">Level</p>
      <div class="actions bold">
          <p>Actions</p>
      </div> 
    </div>
    {% for user in users %}   
    <div class="row">
      <p class="id">{{user.id}}</p>
      <p class="name"><a href="show/{{user.id}}">{{ user.first_name }} {{ user.last_name}}</a></p>
      <p class="email">{{user.email}}</p>
      <p class="date">{{user.created_at|date:'b d, Y'}}</p>
      {% if user.user_level == 9 %}
        <p class="level">admin</p>
      {% else %}
        <p class="level">normal</p>
      {% endif %}
      <div class="actions">
          <a href="/users/edit/{{user.id}}">  Edit </a>   
          <a href="/destroy/{{user.id}}">  Remove </a>
      </div>
    </div>  
    {% endfor %}
  </div>
</div>
</body>
</html>
